<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
	<select id="selectMemberList" resultMap="memberMap">
	select * from 
	member
	where status='U'
	</select>
	<resultMap type="map" id="memberMap"></resultMap>
</mapper>