
@charset "UTF-8";

/* 배경 */
div#back-container {
    width: 100%;
    height: auto;
    padding: 40px 150px 20px 150px;
    background-color: lightgray;
}
/* 정보창 */
div#info-container {
    width: auto;
    max-width: 800px;
    height: 600px;
    margin: auto;
    padding: 0px;
    background-color: lightgray;
}
div#list-container {
    background-color: white;
    width: 800px;
    min-height: 558px;
    text-align: center;
    padding: 100px;
}
nav#search-nav {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-bottom: 30px;  
}
nav#pageBar {
    position: relative;
    top: 250px;
    left: 40%;
}
div#button-container{
	width: 800px;
}
/* button */
div#button-container button {
    font-size: 16px;   
}
/*중개인 마이페이지 설정*/
div#list-container tr{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 45px;
}
div#list-container th{
	width: 160px;
	background: lightgray;
}
div#list-container td{
	width: 250px;
    text-align: left;
    padding-left: 20px;
}
/*중개인 프로필 사진*/
div#agentProfileImg{
    position: relative;
    float: right;
    margin-top: -260px;
    height: 150px;
    width: 150px;
    border: 3px solid gray;
    border-radius: 100px;
}
button#agnetChangeImg-btn{
	position: relative;
    float: right;
    margin: -98px 19px 0 0px;
}
/*중개인 설정페이지 버튼그룹*/
div#agentSet-btnGroup{
	max-width: 560px;
    margin-top: 40px;
    text-align: right;
}

/*중개인 매물신청목록*/
div#estateList{
	width: 100%;
    height: 100%;
	background: lightgray;
	overflow: scroll;
}
div.estateList-box{
	float: left;
	width: 270px;
	height: 100px;
	margin: 10px;
	padding: 5px;
	font-size: 12px;
	text-align: left;
	background: white;
}
div.estateList-box img{
	width: 111px;
	height: 90px;
    float: left;
    margin-right: 10px;
}
div.estateList-box p{
	margin: 0;
	float: left;
    width: 138px;
    overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}
div.estateList-box p:nth-child(3){
	margin-top: -22px;
	font-size: 16px;
	font-weight: bold;
}
div.estateList-box p:nth-child(6){
	color: gray;
}
/*등록된매물*/
div#estateListEnd{
	width: 100%;
    height: 100%;
	background: lightgray;
	overflow: scroll;
}
div.estateListEnd-box{
	float: left;
	width: 440px;
	height: 131px;
	margin: 10px;
	padding: 5px;
	font-size: 14px;
	text-align: left;
	background: white;
}
div.estateListEnd-box:hover{
	cursor: pointer;
	border: 2px solid rgb(0, 0, 0, 0.3);
}
div.estateListEnd-box img{
	width: 150px;
	height: 120px;
    float: left;
    margin-right: 10px;
}
/*매물등록버튼*/
button.update-estate-btn{
    position: relative;
	width: 48px !important;
    padding: 2px;
    margin-left: 90px;
}
div.estateListEnd-box p{
	margin: 0;
	float: left;
    width: 262px;
    overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
}
div.estateListEnd-box p:nth-child(3){
	width: 87px;
	margin-top: -7px;
	font-size: 20px;
	font-weight: bold;
}
div.estateListEnd-box p:nth-child(6){
	color: gray;
}
div.estateListEnd-box span{
	float: right;
    color: green;
}
/*드롭박스*/
button.btn-info{
	width: 115px;
}
/*검색*/
div#estateList-div{
	position: absolute;
    width: 400px;
    margin: -52px 0 0 90px;
}