<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="estate">
	<select id="selectLocalCodeFromRegion" resultType="string">
		SELECT
		substr(region_code,0,5) FROM REGION where legal_dong like
		'%'||#{localName}||'%' and rownum=1
	</select>
	<select id="selectApartmentname" resultType="string"> select address from
		estate where region_code= #{localCode}
	</select>

	<select id="selectDetailEstate" resultType="estate">
		select * from estate
		where ADDRESS = #{addressName} or ADDRESS=#{roadAddressName}
	</select>
	
	
	
	<select id="selectShowEstate" resultMap="estateAttchmentMap">
		select * from estate e join power_link p using(estate_no) join estate_photo p using(estate_no) order by start_date
	</select>
	<resultMap type="estate" id="estateAttchmentMap">
		<id column="ESTATE_NO" property="EstateNo"/>
		<result column="REGION_CODE" property="RegionCode"/>          
		<result column="MEMBER_NO" property="MemberNo"/>
		<result column="BUSINESS_MEMBER_NO" property="BusinessMemberNo"/>
		<result column="PHONE" property="Phone"/>
		<result column="BUSINESS_PHONE" property="BusinessPhone"/>
		<result column="ADDRESS" property="Address"/>
		<result column="ESTATE_TYPE" property="EstateType"/>
		<result column="TRANSACTION_TYPE" property="TransActionType"/>
		<result column="ESTATE_PRICE" property="EstatePrice"/>
		<result column="MANAGEMENT_FEE" property="ManageMenetFee"/>
		<result column="ESTATE_AREA" property="EstateArea"/>
		<result column="SUBWAY_STATION" property="SubwayStation"/>
		<result column="ESTATE_CONTENT" property="EstateContent"/>
		<result column="WRITTEN_DATE" property="WrittenDate"/>
		<result column="DEPOSIT" property="Deposit"/>
		
		<!-- collection: 1:n 관계e를 표현 -->
		<collection property="attachList" ofType="estateAttach">
			<id column="PHOTO_NO" property="attachNo"/>
			<result column="ESTATE_NO" property="estateNo"/>
			<result column="ORIGINAL_FILENAME" property="originalFileName"/>
			<result column="RENAMED_FILENAME" property="renamedFileName"/>
			<result column="UPLOAD_DATE" property="uploadDate"/>
		</collection>
	</resultMap>
	
	
	
	<select id="selectEstateAttach" resultType="estateAttach">
		select * from
		estate_photo where estate_no=#{estateNo}
	</select>
	<insert id="estateoptionlist">
	 insert into tbl_option(estate_no,option_detail,construction,flooroption)
	 values(seq_estate_no.currval,#{optionDetail, typeHandler=strArrTypeHandler},
	         #{construction,typeHandler=strArrTypeHandler},#{floorOpt,typeHandler=strArrTypeHandler})
	</insert>
	

	<resultMap type="option" id="optionMap">
		<result column="option_detail" property="optionDetail"
			typeHandler="strArrTypeHandler" />
	</resultMap>

	<insert id="EstateInsert">
		insert into estate
		(estate_no,region_code,member_no,business_member_no,phone,business_phone,
		address,estate_type,transaction_type,estate_price,management_fee,estate_area,subway_station,
		estate_content,written_date,deposit)
		values(seq_estate_no.nextval,#{RegionCode},#{MemberNo},#{BusinessMemberNo},#{Phone},#{BusinessPhone},#{Address},
		#{EstateType},#{TransActionType},#{EstatePrice},#{ManageMenetFee},#{EstateArea},#{SubwayStation},#{EstateContent},
		sysdate,#{Deposit})
	</insert>
	<insert id="insertattach">
		insert into
		estate_photo
		(photo_no,estate_no,original_filename,renamed_filename,upload_date)
		values(seq_estate_photo.nextval,seq_estate_no.currval,#{originalFileName},#{renamedFileName},
		sysdate)
	</insert>
	
	
	
	<select id="selectLocalName" resultType="string" parameterType="string">
		select legal_dong from region where legal_dong like '%'||#{address}||'%' and rownum=1
	</select>
	

	
	<select id="selectApartListForAllNotOption" resultType="string">
		select address from estate 
		where estate_type=#{estateType} and transaction_type=#{dealType} 
		and region_code=#{localCode} and estate_price between #{range1} and #{range2}
	</select>

	<select id="selectApartListForAllSelectOption" resultType="string">
		select e.address from
			estate e left join tbl_option o on  e.estate_no=o.estate_no
			where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code=#{localCode} 
			and e.estate_price between #{range1} and #{range2}and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
	</select>
	
	<select id="selectApartListSelectStructureNotOption" resultType="string">
		select address from estate 
		where estate_type=#{estateType} and transaction_type=#{dealType} and region_code=#{localCode}  and estate_price between #{range1} and #{range2} 
		and estate_area between #{structure} and #{structure+9}
	</select>
	
	<select id="selectApartListSelectStructureSelectOption" resultType="string">
			select e.address from
			estate e left join tbl_option o on  e.estate_no=o.estate_no
			where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code=#{localCode} 
			and e.estate_price between #{range1} and #{range2} and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
			and e.estate_area between #{structure} and #{structure+9}
	</select>
	
	<select id="selectApartListForAllSelectOptionAndMontlyFee" resultType="string">
		select address from estate 
		where estate_type=#{estateType} and transaction_type=#{dealType} 
		and region_code=#{localCode} and estate_price between #{range3} and #{range4}
		and deposit between #{range1} and #{range2}
	</select>
	
	<select id="selectApartListForSelectStructureSelectOptionAndMontlyFee" resultType="string">
		select e.address from
		estate e left join tbl_option o on  e.estate_no=o.estate_no
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code=#{localCode} 
		and e.estate_price between #{range3} and #{range4}and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
		and e.estate_area between #{structure} and #{structure+9} and e.deposit between #{range1} and #{range2}
	</select>
	
	<select id="selectApartListForSelectStructureNotOptionAndMontlyFee" resultType="string">
		select address from estate 
		where estate_type=#{estateType} and transaction_type=#{dealType} and region_code=#{localCode}  and estate_price between #{range3} and #{range4} 
		and estate_area between #{structure} and #{structure+9} and deposit between #{range1} and #{range2}
	</select>
	
	<select id="selectApartListForAllNotOptionAndMontlyFee" resultType="string">
		select address from estate 
		where estate_type=#{estateType} and transaction_type=#{dealType} and region_code=#{localCode}  and estate_price between #{range3} and #{range4} 
		and deposit between #{range1} and #{range2}
	</select>
	
	<select id="selectEstateListForAllNotOption" resultType="string">
		select address from estate where estate_type=#{estateType} and transaction_type=#{dealType} 
		and region_code=#{localCode} and estate_price between #{range1} and #{range2}
	</select>
	
	<select id="selectEstateListForAllSelectOption" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code=#{localCode}
		and e.estate_price between #{range1} and #{range2} and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
	</select>
	
	<select id="selectEstateListSelectStructureNotOption" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no 
		where e.estate_type= #{estateType} 
		and e.transaction_type= #{dealType} 
		and e.region_code = #{region_code}
		and e.estate_price between #{range1} and #{range2} 
		and construction=#{structure}
	</select>
	
	<select id="selectEstateListSelectStructureNotOpionNotFloorOptionMontlyFee" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no 
		where e.estate_type= #{estateType} 
		and e.transaction_type= #{dealType} 
		and e.region_code = #{region_code}
		and e.estate_price between #{range1} and #{range2} 
		and construction=#{structure}
	</select>
	
	<select id="selectEstateListSelectStructureNotOptoin" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no 
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code =#{region_code}
		and e.estate_price between #{range1} and #{range2} and o.construction=#{structure} 
		and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
	</select>
	<select id="selectEstateListForAllNotOptionForMontlyFee" resultType="string">
		select address from estate where estate_type=#{estateType} and transaction_type=#{dealType} and region_code=#{localCode}  and estate_price between #{range3} and #{range4} 
		and deposit between #{range1} and #{range2}
	</select>
	
	<select id="selectEstateListForAllNotOptionSelectFloorOptionForMontlyFee" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no 
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code =#{region_code}
		and e.estate_price between #{range3} and #{range4} and e.deposit between #{range1} and #{range2}
		and o.flooroption=#{topOption}  
	</select>
	
	<select id="selectEstateListForAllSelectOptionNotFloorOpionForMontlyFee" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no 
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code =#{region_code}
		and e.estate_price between #{range3} and #{range4} and e.deposit between #{range1} and #{range2}
		and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
	</select>
	
	<select id="selectEstateListForAllSelectOptionSelectFloorOptionMontlyFee" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no 
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code =#{region_code}
		and e.estate_price between #{range3} and #{range4} and e.deposit between #{range1} and #{range2}
		and o.flooroption=#{topOption} and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
	</select>
	

	
	<select id="selectEstateListSelectStructureNotOpionSelectFloorOptionMontlyFee" resultType="string">
		select e.address from estate e left join tbl_option o  on e.estate_no=o.estate_no 
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code =#{region_code}
		and e.estate_price between #{range3} and #{range4} and e.deposit between #{range1} and #{range2}
		and o.construction =#{structure} and o.flooroption=#{topOption}
	</select>
	
	<select id="selectEstateListSelectStructureSelectOptionNotFloorOptionMontlyFee" resultType="string">
		select e.address from estate e left join tbl_option o  on e.estate_no=o.estate_no 
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code =#{region_code}
		and e.estate_price between #{range3} and #{range4} and e.deposit between #{range1} and #{range2}
		and o.construction =#{structure}  and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
	</select>
	
	<select id="selectEstateListSelectStructureSelectOptionSelectFloorOptionMontlyFee" resultType="string">
		select e.address from estate e left join tbl_option o on e.estate_no=o.estate_no 
		where e.estate_type=#{estateType} and e.transaction_type=#{dealType} and e.region_code =#{region_code}
		and e.estate_price between #{range3} and #{range4} and e.deposit between #{range1} and #{range2}
		and o.construction =#{structure}  and o.option_detail like '%'||#{option,typeHandler=strArrTypeHandler}||'%'
		and o.flooroption=#{topOption}
	</select>
	
	<!-- 일반회원정보에서 등록한 매물 가져오기 -->	
	<!-- <select id="forSaleList" resultMap="estate">
		SELECT * 
		FROM ESTATE
		WHERE MEMBER_NO = #{memberNo}
		ORDER BY ESTATE_NO DESC
	</select>
	
	<resultMap type="estate" id="estateMap">
		<id column="ESTATE_NO" property="EstateNo"/>
		<result column="REGION_CODE" property="RegionCode"/>          
		<result column="MEMBER_NO" property="MemberNo"/>
		<result column="BUSINESS_MEMBER_NO" property="BusinessMemberNo"/>
		<result column="PHONE" property="Phone"/>
		<result column="BUSINESS_PHONE" property="BusinessPhone"/>
		<result column="ADDRESS" property="Address"/>
		<result column="ESTATE_TYPE" property="EstateType"/>
		<result column="TRANSACTION_TYPE" property="TransActionType"/>
		<result column="ESTATE_PRICE" property="EstatePrice"/>
		<result column="MANAGEMENT_FEE" property="ManageMenetFee"/>
		<result column="ESTATE_AREA" property="EstateArea"/>
		<result column="SUBWAY_STATION" property="SubwayStation"/>
		<result column="ESTATE_CONTENT" property="EstateContent"/>
		<result column="WRITTEN_DATE" property="WrittenDate"/>
		<result column="DEPOSIT" property="Deposit"/>
	</resultMap> -->
	
</mapper> 