<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="estate">
	<select id="selectLocalCodeFromRegion" resultType="string">
		SELECT substr(region_code,0,5)  FROM REGION where legal_dong like '%'||#{localName}||'%' and rownum=1
	</select>
	<select  id="selectApartmentname" resultType="string">

	select address from estate where region_code= #{localCode}
	
	</select>

</mapper> 







