<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
 	<insert id="insertMember">
		INSERT INTO MEMBER(MEMBER_NO, MEMBER_EMAIL, MEMBER_NAME, MEMBER_PWD, PHONE)
		VALUES(seq_member_no.nextval,
			   #{memberEmail},
			   #{memberName},
			   #{memberPwd},
			   #{phone})
	</insert>
	
	<select id="selectOneMember" resultType="member">
		SELECT * FROM MEMBER WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<select id="checkEmail" resultType="_int">
		SELECT COUNT(*) FROM MEMBER WHERE MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<update id="updateMember">
		UPDATE MEMBER SET MEMBER_NAME = #{memberName}, MEMBER_PWD = #{memberPwd}, RECEIVE_MEMO_YN = #{receiveMemoYN} 
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="findId" resultType="member">
		SELECT MEMBER_EMAIL FROM MEMBER WHERE MEMBER_NAME = #{memberName} AND PHONE = #{phone}
	</select>
	
	<update id="deleteMember">
		UPDATE MEMBER SET QUIT_DATE = sysdate, QUIT_YN = 'Y' WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="selectOneMember_" resultType="member">
		SELECT * FROM MEMBER WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<insert id="insertInterest">
		INSERT INTO INTEREST(INTEREST_NO, MEMBER_NO) VALUES(seq_interest_no.nextval, seq_member_no.currval)
	</insert>
	
	<update id="updateInterest">
		UPDATE INTEREST 
		SET REGION = #{region}, ESTATE_TYPE = #{}, PET = #{pet}, ELEVATOR = #{elevator}, PARKING = #{parking}, SUBWAY = #{subway}
		WHERE MEMBER_NO = #{MEMBER_NO}
	</update>
</mapper>